<div class="details">
    <div class="game-banner">
        <img src="{{game.background_image}}" alt="{{game.name}}">
    </div>
    <div class="game-content">
        <div class="details-wrapper">
            <div class="game-header">
                <h1 class="game-header-title"> {{game.name}} </h1>
                <h2 class="game-header-release-date">Release : {{game.released|date}}</h2>
                <p class="game-header-genres">Adventure, Action, dummy</p>
<div class="game-gauge">
                    <mwl-gauge class="two"
                    [max]="100"
                    [dialStartAngle]="180"
                    [dialEndAngle]="0"
                    [value]="gameRating"
                    [animated]="true"
                    [color]="getColor"
                    [animationDuration]="2"></mwl-gauge>
                </div>
            </div>
        </div>
    </div>
</div>